{% extends 'layout.html' %}
{% block content %}

<div class="bg-brand-surface border border-white/5 backdrop-blur-md p-6 max-w-xl rounded-xl shadow">

    <h2 class="text-2xl font-bold text-emerald-500 mb-4">
        Assign Resources
    </h2>

    <form method="POST">

        <label class="block font-semibold mb-1">Select Resource</label>
        <select name="resource_id" class="w-full border p-2 rounded-lg mb-4">
            {% for r in resources %}
            <option value="{{ r.resource_id }}">{{ r.resource_name }}</option>
            {% endfor %}
        </select>

        <label class="block font-semibold mb-1">Quantity</label>
        <input type="number" name="quantity"
               class="w-full border p-2 rounded-lg mb-4" min="1">

        <button class="w-full bg-blue-600 text-white p-3 rounded-xl hover:bg-blue-700">
            Assign Resource
        </button>

    </form>

</div>

{% endblock %}
